*.o
*.d
nullkrnl*
*.unstripped
*.tar.gz
*.iso

iso/main/
rootfs/main/
tools/limine/
kernel/include/limine/

userspace/*
!userspace/**/*.c
!userspace/**/*.h
!userspace/**/*.S
!userspace/**/Makefile
!userspace/**/config.mk

# Will remove this comment later, ignore this
