mainmenu "Nullkrnl Configuration"

menu "General Options"
config DEBUG
	bool "Enable debug info"
	default n
	help
		Enables debug info for the kernel binary and it's libraries.
		This also skips stripping.

endmenu

source "main/Kconfig"
source "io/Kconfig"
source "mm/Kconfig"
source "syscalls/Kconfig"
