menu "Processor Features"
config MAX_CPUS
	int "Maximum number of CPUs (1-512)"
	range 1 512
	default 64
	help
		Amount of CPUs that the kernel allows.

endmenu

menu "Timers"
choice
	prompt "Timer frequency"
    default HZ_250
	help
		Sets the timer frequency of the PIT and APIC timers.

config HZ_100
	bool "100 Hz"
	help
		Sets the timer frequency to 100 Hz.

config HZ_250
	bool "250 Hz"
	help
		Sets the timer frequency to 250 Hz.

config HZ_1000
	bool "1000 Hz"
	help
		Sets the timer frequency to 1000 Hz.

endchoice
config HZ
	int
	default 100 if HZ_100
	default 250 if HZ_250
	default 1000 if HZ_1000

endmenu
